charlesworth_3-3.pdf
burger_4_1_2.pdf
writing/*~
*~
writing/*.aux
writing/*.bbl
writing/*.blg
writing/*.log
writing/manuscript/*.aux
writing/manuscript/*.bbl
writing/manuscript/*.blg
writing/manuscript/*.log
writing/notes.pdf
writing/presenation/lab_meeting_11_2016/*.aux
writing/presenation/lab_meeting_11_2016/*.bbl
writing/presenation/lab_meeting_11_2016/*.blg
writing/presenation/lab_meeting_11_2016/*.log
writing/presenation/lab_meeting_11_2016/*.pdf
writing/presenation/darwin_retreat/*.aux
writing/presenation/darwin_retreat/*.bbl
writing/presenation/darwin_retreat/*.blg
writing/presenation/darwin_retreat/*.log
writing/presenation/darwin_retreat/*.pdf
_*
*.dvi
*.pdf
*.txt
*.nb
*.doc
*.pyc
*.svg
