charlesworth_3-3.pdf
burger_4_1_2.pdf
quant_gen_notes/quant_gen.bib
quant_gen_notes/notes.tex
quant_gen_notes/genetics.bst
quant_gen_notes/burgerchap4.tex
quant_gen_notes/*~
*~
*.aux
*.bbl
*.blg
*.log
